* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  width: 670px;
  height: 600px;
  left: 380px;
  top: 40px;
  background: #ffffff;
  border: 2px solid #aacdff;
  box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
  border-radius: 20px;
}

.title {
  padding: 50px 0px 20px 0px;
  color: #023075;
}

hr {
  border: 0;
  border-top: 1px dotted gray;
  padding-bottom: 20px;
}

.wrapper__header {
  text-align: center;
}

#clock {
  padding-bottom: 20px;
}

#todo-form {
  display: flex;
  flex-direction: column;
}

#todo-input {
  font-family: "Do Hyeon", sans-serif;
  font-size: 20px;
  border: 0;
  text-align: center;
  padding: 30px 0px;
}

#submitbtn {
  font-family: "Do Hyeon", sans-serif;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #0068ff;
  border-radius: 10px;
  padding: 5px 0px;
  margin-bottom: 30px;
  cursor: pointer;
}

#submitbtn:hover {
  background: hsla(187, 100%, 68%, 0.731);
}

#todo-list {
  font-family: "Do Hyeon", sans-serif;
  font-size: 20px;
  list-style: none;
  width: 100%;
  padding: 5px;
}

button {
  width: 20px;
  height: 20px;
  border: 0px;
  background: none;
}

#weather {
  font-family: "Do Hyeon", sans-serif;
  font-size: 14px;
  color: rgb(100, 181, 207);
  position: absolute;
  top: 20px;
  right: 20px;
}
